@media (min-width: 768px) and (max-width: 1024px) {
  .main {
  height: 7000px;
  }
.navbar{
display: none;
}
.frame-20{
padding-right: 350px;
}
.frame-23 {
display: flex;
flex-direction: column;
width: 1148px;
height: 100px;
align-items: flex-start;
padding: 64px 0px;
position: absolute;
top: 2638px;
left: 50px;

}
.frame-26 {
display: flex;
align-items: flex-start;
align-self: stretch;
width: 75%;
flex: 0 0 auto;
height: 100px;
}
.explore-the-world-block {
display: flex;
width:760px;
align-items: center;
padding-right: 200px;
position: absolute;
flex-direction: column-reverse;
}

.service-wrapper{
  color: #f85e9f;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;;

  font-size: 44px;
}
.top-destination{
margin-left: 300px;
text-align: center;
margin-bottom: 250px;
position: absolute;
}
.frame-25 {
display: inline-flex;
position: absolute;
margin-left: 400px;
}
.first-block {
text-align: center;
display: flex;
position: relative;
}
.frame-9{
margin-left: 250px;
}
.frame-10{
  margin-left: 200px;
}
.frame-17 {
  position: absolute;
  width: 740px;
  top: 1450px;
  padding-right: 100px;
}
.frame-24 {
display: flex;
align-items: center;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
margin-bottom: 50px;
}
.header {
text-align:center;
padding-right:700px ;

padding-top: 550px;
display: flex;
flex-direction: column;
align-items: flex-start;
width: 50%;
}
.content-block {
text-align: center;
padding-top: 1300px;
padding-right: 200px;
display: flex;
width: 800px;
align-items: flex-start;
position: absolute;
}
.abc {
height: 50%;
width: 60%;
margin-left: 0px;
display: flex;
position: absolute;
}
.frome {
justify-content: left;
display: flex;
margin-top: 1680px;
width: 100%;
}
.travel-point {
text-align: center;
position: relative;
align-self: stretch;
margin-top: -1px;
font-family: "Circular Std-Bold", Helvetica;
font-weight: 700;
color: var(--secondary);
font-size: 23px;
letter-spacing: 4px;
line-height: 27px;
}
.frame-32 {
position: absolute;
width: 1050px;
height: 800px;
margin-top: 900px;
}
.frame-34 {
  display: flex;
  width: 1312px;
  align-items: flex-start;
  padding: 64px 0px;
  margin-top: 5000px;
  margin-right: 425px;
}
.frame-35 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 64px;
position: relative;
margin-top: 1000px;
width: 400px;

}
.BACKGROUND {
position: absolute;
width: 693px;
height: 869px;
margin-left: 200px;
}
.frame-36 {
text-align: center;
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}
.txt{
width: 900px;
color: #f85e9f;
text-align: center;
font-family: "CircularStd-Bold", Helvetica;
font-weight: 700;
font-size: 44px;
}
.frame-29 {
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
align-self: stretch;
width: 100%;
}
.text-wrapper-2 {
margin-right: 300px;
position: relative;
align-self: stretch;
font-family: "CircularStd-Bold", Helvetica;
font-weight: 700;
color: rgba(25, 24, 37, 1);
font-size: 44px;
line-height: 120%;
}
}