@media (min-width: 768px) and (max-width: 1024px){
  .main{
    height: 10000px;
  }
  .sub-main{
    height: 10000px;
  }
 .navbar{
  display: none;
 }
 .log-in-sign-up{
 padding-right: 350px;
 }
 .tours {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 500px;
}
 .second-block {
  display: flex;
  width:760px;
  align-items: center;
  padding-right: 200px;
  position: absolute;
  flex-direction: column-reverse;
 }

.categories{
  width: 300px;
}

.key-features{
    width: 900px;
    color: #f85e9f;
    text-align: center;
    font-family: "CircularStd-Bold", Helvetica;
    font-weight: 700;
    font-size: 32px;
}

.offer{
  font-family: "CircularStd-Bold", Helvetica;
  font-size: 32px;
  font-weight: 400;
  margin-left: 280px;
}

.text-wrapper-6{
  font-family: "CircularStd-Bold", Helvetica;
  margin-right: 50px;
  font-size: 20px;
  width: 800px;
}

.service{
  color: #f85e9f;
  font-size: 32px;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 400;
  margin-left: 250px;
}

 .first-content {
  text-align: center;
  display: flex;
  gap: 43px;
  position: relative;
  }
  .frame-9{
  margin-left: 250px;
  }
  .buttons{
    margin-left: 200px;
  }
  .logos {
    position: absolute;
    width: 1100px;
    top: 1450px;
    padding-right: 100px;
}
.header {
  text-align:start;
  margin-left:60px;
  margin-top: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 500px;
}

.text-wrapper {
  position: absolute;
  padding-bottom: 1100px;
}

.text-wrapper-2 {
  align-items: flex-start;
  width: 100%;
  text-align:start;
  position: absolute;
}

.frame-with-content{
    position: absolute;
    width: 60%;
    margin-top: 1300px;
    position: absolute;
}
.frame-3 {
  padding-top: 1300px;
  padding-right: 200px;
  display: flex;
  width: 850px;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
}
.content {
    margin-right: 300px;
    margin-top: 400px;
}

.frame-17{
  width: 45%;
}

.arrows{
  position: absolute;
  margin-top: 1100px;
margin-left: 230px;
}

.frame-top-destination {
  margin-top: 850px;
  margin-left: 120px;
}

.top-destination{
  margin-left: 100px;
}

.third-block{
  margin-top: 600px;
}

.tours-block{
  margin-top: 100px;
  width: 50%;
  margin-right: 40px;
}
.frame-with-first-tour{
  width: 84%;
  height: 35%;
}
.rectangle-3{
  width: 110%;
}

.frame-32 {
  margin-top: 300px;
  margin-left: 100px;
}

.fthird-block{
  margin-top: 1550px;
}

.abc {
  margin-left: 0;
  height: 50%;
  width: 60%;
  display: flex;
  position: absolute;
  margin-top: 1350px;
}
.frome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  margin-top: 1680px;
  width: 100%;
}
.travel-point {
  text-align: center;
  position: relative;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-right: 400px;
  margin-bottom: 50px;
}

.text-wrapper{
  margin-top: 30px;
  width: 500px;
  font-size: 36px;
}

.p{
  margin-right: 400px;
}

.div-3{
  width: 500px;
  margin-right: 100px;
}


.frame-35{
  margin-top: 900px;
}

.BACKGROUND{
  margin-right: 700px;
  position: absolute;
}

}
