.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

 .sub-main {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 100%;
  position: relative;
}

 .main-div {
  position: absolute;
  width: 1723px;
  height: 1572px;
  top: 113px;
  left: 128px;
}

 .main-div-group {
  position: absolute;
  width: 1723px;
  height: 838px;
  top: 734px;
  left: 0;
}

 .ellipse {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 0;
  left: 1223px;
  background-color: rgba(250, 205, 73, 1);
  border-radius: 250px;
  filter: blur(500px);
  opacity: 0.5;
}

 .service-block {
  display: flex;
  width: 1536px;
  align-items: center;
  padding: 64px 0px;
  position: absolute;
  top: 267px;
  left: 0;
}

 .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

 .txt {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  color: rgba(248, 94, 159, 1);
  font-size: 23px;
}

 .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(25, 24, 37, 1);
  font-size: 44px;
   
  line-height: 120%;
}

 .content-block {
  display: flex;
  width: 1092px;
  align-items: flex-start;
  gap: 21px;
  position: relative;
}

 .guides {
  display: flex;
  flex-direction: column;
  height: 443px;
  align-items: center;
  gap: 64px;
  padding: 64px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 32px;
  border: 1px solid;
  border-color: #1918251a;
}

 .img {
  position: relative;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

 .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

 .text-wrapper-3 {
  color: rgba(25, 24, 37, 1);
  font-size: 28px;
  text-align: center;
   
  line-height: 120%;
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
}

 .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  text-align: center;
  line-height: 160%;
}

 .guide {
  display: flex;
  flex-direction: column;
  height: 443px;
  align-items: center;
  gap: 64px;
  padding: 64px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 32px;
  box-shadow: 0px 0px 0px #0000001a, 0px 41px 89px #0000001a;
}

 .cloudy {
  position: relative;
  width: 64px;
  height: 64px;
  margin-bottom: -36675px;
  margin-left: -2211px;
  object-fit: cover;
}

 .explore-the-world-block {
  display: flex;
  width: 1184px;
  align-items: center;
  padding: 64px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

 .first-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

 .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #00000012, 0px 34px 75px #00000012, 0px 137px 137px #0000000f, 0px 308px 185px #0000000a,
    0px 548px 219px #00000003, 0px 856px 240px transparent;
}

 .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(248, 94, 159, 1);
  font-size: 14px;
  line-height: 120%;
}

 .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

 .travel-top {
  position: relative;
  align-self: stretch;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;
  color: transparent;
  font-size: 69px;
   
  line-height: 120%;
}

 .span {
  color: #000000;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;
   
  line-height: 120%;
  font-size: 69px;
}

 .text-wrapper-5 {
  color: #f85e9f;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;
  line-height: 120%;
  font-size: 69px;
}

 .text-wrapper-6 {
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  line-height: 160%;
}

 .frame-10 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

 .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(93, 80, 198, 1);
  border-radius: 100px;
  box-shadow: 0px 0px 0px #0000001a, 0px 5px 11px #0000001a, 0px 20px 20px #00000017, 0px 45px 27px #0000000d,
    0px 81px 32px #00000003, 0px 126px 35px transparent;
}

 .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(238, 238, 238, 1);
  font-size: 14px;
  line-height: 120%;
}

 .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  border: 1px solid;
  border-color: rgba(238, 238, 238, 1);
}

 .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(34, 40, 49, 1);
  font-size: 14px;
  line-height: 120%;
}

 .group {
  position: relative;
  width: 772px;
  height: 713px;
}

 .overlap-group-2 {
  position: relative;
  height: 821px;
}

 .layer {
  position: absolute;
  width: 772px;
  height: 287px;
  top: 0;
  left: 0;
}

 .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 31px;
  position: absolute;
  top: 75px;
  left: 91px;
}

 .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

 .rectangle {
  position: relative;
  width: 272px;
  height: 300px;
}

 .rectangle-2 {
  position: relative;
  width: 272px;
  height: 400px;
}

 .frame-14 {
  background-color: rgba(248, 94, 159, 1);
  position: absolute;
  width: 60px;
  height: 60px;
  top: 341px;
  left: 25px;
  border-radius: 100%;
}

 .frame-15 {
  background-color: rgba(255, 87, 34, 1);
  position: absolute;
  width: 65px;
  height: 65px;
  top: 649px;
  left: 443px;
  border-radius: 100%;
}

 .frame-16 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 16px 32px;
  position: absolute;
  top: 488px;
  left: 592px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0px 43px 26px #0000000d, 0px 77px 31px #00000003, 0px 120px 34px transparent;
}

 .text-wrapper-9 {
  width: fit-content;
  color:  rgba(57, 62, 70, 1);
  font-size: 14px;
  line-height: 120%;
  position: relative;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
}

 .frame-17 {
  position: absolute;
  width: 1184px;
  height: 160px;
  top: 841px;
  left: 0;
}

 .OBJECTS {
  position: absolute;
  width: 65px;
  height: 170px;
  top: 842px;
  left: 38px;
}

 .frame-18 {
  display: flex;
  width: 1184px;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  position: absolute;
  top: 0;
  left: 128px;
}

 .frame-19 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

 .vector {
  position: relative;
  width: 40px;
  height: 40px;
}

 .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Circular Std-Black", Helvetica;
  font-weight: 900;
  color: rgba(25, 24, 37, 1);
  font-size: 24px;

}

 .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

 .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(34, 40, 49, 1);
  font-size: 14px;
  line-height: 120%;
}

 .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(25, 24, 37, 0.5);
  font-size: 14px;
  line-height: 120%;
}

 .frame-20 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

 .frame-21 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
}

 .frame-22 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(93, 80, 198, 1);
  border-radius: 100px;
}

 .frame-23 {
  display: flex;
  flex-direction: column;
  width: 1184px;
  align-items: flex-start;
  gap: 64px;
  padding: 64px 0px;
  position: absolute;
  top: 1685px;
  left: 128px;
}

 .frame-24 {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 50px;
}

 .frame-25 {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
  margin-left: 350px;
}

 .arrow-left-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--grey-scaleblack-10);
}

 .arrow-left {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 37px;
  left: 37px;
}

 .group-2 {
  position: relative;
  width: 192px;
  height: 271px;
  margin-top: -9px;
  margin-bottom: -162px;
  margin-right: -46px;
}

 .frame-26 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

 .frame-27 {
  display: flex;
  flex-direction: column;
  height: 575px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

 .rectangle-3 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

 .frame-28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 0px 0px #0000000d, 0px 32px 71px #0000000d, 0px 128px 128px #0000000a, 0px 288px 173px #00000008,
    0px 513px 205px #00000003, 0px 801px 224px transparent;
}

 .frame-29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

 .frame-30 {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

 .text-wrapper-13 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;
  color: rgba(25, 24, 37, 1);
  font-size: 23px;
  line-height: 120%;
}

 .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;
  color: rgba(248, 94, 159, 1);
  font-size: 23px;
  line-height: 120%;
}

 .text-wrapper-15 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(25, 24, 37, 0.75);
  font-size: 18px;
  line-height: 160%;
}

 .frame-31 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

 .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;
  color: rgba(255, 87, 34, 1);
  font-size: 23px;
   
  line-height: 120%;
}

 .second-group {
  position: absolute;
  padding: 64px;
  width: 1440px;
  height: 825px;
  top: 2552px;
  left: 0;
}

 .frame-32 {
  position: absolute;
  width: 760px;
  height: 800px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.abc{
  height: 50%;
  width: 20%;
  margin-left: 900px;
  display: flex;
  position: absolute;

}
.frome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
}

 .dov {
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

 .div-2 {
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.travel-point {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  color: rgba(248, 94, 159, 1);
  font-size: 23px;
}

 .service-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(248, 94, 159, 1);
  font-size: 44px;
  line-height: 120%;
}

 .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  line-height: 160%;
}

 .div-3 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

 .div-4 {
  align-items: center;
  gap: 16px;
  padding: 32px;
  flex: 1;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 32px;
  border: 1px solid;
  border-color: var(--grey-scaleblack-10);
  display: flex;
  flex-direction: column;
  position: relative;
}

 .text-wraper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;
  font-weight: 700;
  color: rgba(255, 87, 34, 1);
  font-size: 35px;
  line-height: 120%;
  font-style: var(--h4-font-style);
}

 .text-wraper-3 {
  position: relative;
  width: fit-content;
  margin-left: -0.75px;
  margin-right: -0.75px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(25, 24, 37, 1);
  font-size: 18px;
  line-height: 160%;
}

 .text-wraper-4 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(25, 24, 37, 1);
  font-size: 18px;
  line-height: 160%;
}

 .text-wraper-5 {
  position: relative;
  width: fit-content;
  margin-left: -1.75px;
  margin-right: -1.75px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: rgba(25, 24, 37, 1);
  font-size: 18px;
  line-height: 160%;
}

 .frame-33 {
  position: absolute;
  width: 277px;
  height: 353px;
  top: 289px;
  left: 1250px;
}

 .frame-34 {
  display: flex;
  width: 1312px;
  align-items: flex-start;
  gap: 70px;
  padding: 64px 0px;
  margin-top: 3350px;
  margin-right: 200px;
}

 .frame-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

 .frame-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

 .frame-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

 .frame-38 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 32px;
}

 .location-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 87, 34, 1);
  border-radius: 32px;
}

 .img-3 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 26px;
  left: 26px;
}

 .frame-39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

 .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "CircularStd-Bold", Helvetica;;
  font-weight: 700;
  color: rgba(25, 24, 37, 1);
  font-size: 23px;
   
  line-height: 120%;
}

 .frame-40 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 32px;
  border: 1px solid;
  border-color: var(--grey-scaleblack-10);
}

 .calendar-wrapper {
  background-color: rgba(250, 205, 73, 1);
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 32px;
}

 .calendar {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 24px;
  left: 24px;
}

 .ticket-wrapper {
  background-color: rgba(248, 94, 159, 1);
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 32px;
}

 .BACKGROUND {
  position: relative;
  width: 693px;
  height: 869px;
}
